@page "{id}"
@model ShelterRazor.Pages.DetailedPetModel
@{
    <style>
        .title {
            margin-top: 70px;
            margin-bottom: 15px;
            text-align: center;
        }
        .img-param {
            height: 250px;
            width: 400px;
        }
        .card{
            border: 1px solid;
            border-color:black;
            border-radius: 15px;
            box-shadow: 5px;
        }
        .flex-coloumn{
            justify-content:center;
            display: flex;
            flex-direction: column; 
        }
        .a-center{
            justify-content:center
        }
        img{
            border-radius: 8px;
        }
        input{
            margin-left:10px;
        }
        p{
            font-size: 22px;
        }
        span{
            margin-left: 10px;
        }
    </style>
    <h1 class="title">Detailed Pet</h1>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="d-flex justify-content-around">
            <img class="img-param" src="@Model.Pet.ImgSrc"/>
            <div class="flex-coloumn">
                <span>Name:</span><input class="card-title" placeholder="@Model.Pet.Name"/>
                <span>Age:</span><input class="card-title" placeholder="@Model.Pet.Age" />
                <span>Gender:</span><input class="card-title" placeholder="@Model.Pet.Gender" />
            </div>
            <div class="flex-coloumn">
                <span>Kind:</span><input class="card-title" placeholder="@Model.Pet.KindOfAnimal" />
                <span>Breed:</span><input class="card-title" placeholder="@Model.Pet.Breed" />
                <span>Pet shelter address:</span><input class="card-title" placeholder="@Model.Pet.PetShelterAddress" />
            </div>
            <div class="flex-coloumn">
                @if (Model.Pet.OwnerName != null)
                {
                    <span>Date of taking:</span><input class="card-title" placeholder="@Model.Pet.DateOfTaking"/>
                    <span>Owner name:</span><input class="card-title" placeholder="@Model.Pet.OwnerName" />
                    <span>Owner address:</span><input class="card-title" placeholder="@Model.Pet.OwnerAddress" />
                }
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a asp-page="/DetailedPet" class="btn btn-success">Save Changes</a>
        </div>
    </div>
}
